@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
#navbar{
    background-color: #00095a;
}
.dcc {
    width: 70%;
    height: auto;
    
}
.ite-logo {
    width: 9%;
    height: auto;
    margin-left: 300px;
}
.title-app{
    color: #00095a;
}


#loginbutton{
    background-color:#00095a;
    -webkit-box-shadow: -1px 2px 5.5px 5.5px #a39e9e;
    -moz-box-shadow: -1px 2px 5.5px 5.5px #a39e9e;
    box-shadow: -1px 2px 5.5px 5.5px #a39e9e;
}
.cover{
    -webkit-box-shadow: -1px 2px 5.5px 5.5px #a39e9e;
    -moz-box-shadow: -1px 2px 5.5px 5.5px #a39e9e;
    box-shadow: -1px 2px 5.5px 5.5px #a39e9e;
}
.modal-header{
    background-color:#00095a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#shadow2{
    -webkit-box-shadow: 0 0 13px 5.5px #e3e3e3;
  -moz-box-shadow: 0 0 13px 5.5px #e3e3e3;
  box-shadow: 0 0 13px 5.5px #e3e3e3;
}

